<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss} [%.50thread] %-5level %logger{15} - %message%n%xException{5}</pattern>
		</encoder>
	</appender>

	<!-- Hide spam from the HTTP client library -->
	<logger name="com.ning" level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>